.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 90px 50px 90px 50px;
    font-size: 18px;
    align-items: center;
    font-family: Raleway;
}

.header__menu {
    display: flex;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
}

.header__links-list-item {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.adress {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    max-width: 240px;
    font-family: Raleway;
}

.header__adress {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    font-family: Raleway;
}


.cover {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100% ;
    height: 100%;
    background-image: url(../images/cover.jpg);
    flex-direction: column;
}

.overlay {
    background: rgba(0, 0, 0, 0.60);
    height: 100%;
    width: 100%;
}

.cover__title {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 100px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    letter-spacing: 30px;
    font-family: Raleway;
}

.align-text {
    display: inline-flex;
    letter-spacing: 30px;
    text-align: start;
    margin-top: 165px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: start;
    line-height: 115%;
}

.aligned-text_centr {
    display: inline-flex;
    letter-spacing: 30px;
    justify-content: center;
    line-height: 100%;
}

.aligned-text_right {
    display: inline-flex;
    letter-spacing: 60px;
    justify-content: end;
    line-height: 100%;
    position: relative;
    left: 12px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 28px;
    margin-top: 147px;
    margin-bottom: 50px;
    margin-right: 50px;
    font-family: Raleway;
}

.cover__description-text {
    display: flex;
    justify-content: center;
    color: #FFF;
    word-spacing: 20px;
    position: relative;
    right: 78px;
    font-size: 22px;
    line-height: 28px;
}

.bet-botton {
    display: block;
    padding: 12px 32px;
    background-color: transparent;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Raleway;
}

.lots {
    display: flex;
    flex-direction: column;
    margin: 180px 50px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    padding-left: 40px;
    padding-bottom: 27px;
    font-family: Raleway;
}

.lots__card-list {
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 30px;
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
    min-width: 430px;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    width: 100%;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card__title {
    font-size: 22px;
    font-family: Raleway;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: underline;
}

.card__text {
    display: flex;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Raleway;
    font-size: 20px;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    margin-left: 40px;
    max-width: 240px;
    font-family: Raleway;

}
.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 180px 50px;
    gap: 25px;
}

.about__column {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    height: 388px;
    background-color: #FFF;
    margin-top: 100px;
}

.about__logo {
    display: flex;
    justify-content: center;
    padding: 0 95px;
}

.about__logo-background {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0%;
    border-radius: 50%;
    padding: 63px 46px ;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
    font-family: Raleway;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: Raleway;
    font-size: 20px;
}

.footer {
    display: flex;
    margin-bottom: 90px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    font-family: Raleway;
    font-size: 18px;
}

.footer__menu-list {
    list-style-type: none;
}

.footer__menu-list-item {
    display: flex;
    justify-content: center;
}

.footer__social-icon {
    display: flex;
    width: 240px;
    height: 48px;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.footer__social-list-item {
    list-style: none;
}